/*
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &mt LALT RALT ESC   &kp Q &kp W &kp E &kp R &kp T    &kp Y &kp U &kp I &kp O &kp P &mt LALT RALT ESC
                &kp BSPC &kp A &kp S &kp D &lt 3 F &kp G   &kp H &kp J &kp K &kp L &kp SEMI &kp TAB
                &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp N &kp M &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                    &kp LCTRL &mo 2 &mt LGUI ENTER   &kp SPACE &mo 1 &kp LCTRL
            >;
        };

        lower_layer {
            bindings = <
                &trans &kp EXCL &kp AT &kp LBKT &kp RBKT &kp ASTRK   &kp PPLS &kp EQUAL &kp LPAR &kp RPAR &kp HASH &trans
                &kp BSPC &kp DLLR &kp GRAVE &kp LCBR &kp RCBR &trans   &trans &kp MINUS &kp UNDER &kp AMPS &kp BSLH &kp DEL
                &trans &kp CARET &kp PERC &kp LBKT &kp RBKT &trans   &trans &kp DQT &kp SQT &kp GRAVE &kp BSLH &trans
                    &trans &trans &kp G_ENTER   &kp SPACE &trans &trans
            >;
        };

        raise_layer {
            bindings = <
                &trans &kp HYPR_Q &kp HYPR_W &kp HYPR_E &kp HYPR_R &trans   &kp EQUAL &kp N7 &kp N8 &kp N9 &kp ASTRK &trans
                &kp BSPC &kp HYPR_A &kp HYPR_S &kp HYPR_D &kp HYPR_F &trans   &kp MINUS &kp N4 &kp N5 &kp N6 &kp PPLS &kp DEL
                &trans &trans &trans &kp HYPR_C &trans &trans   &kp N0 &kp N1 &kp N2 &kp N3 &trans &trans
                    &trans &trans &trans   &kp SPACE &kp F12 &trans
            >;
        };

        adjust_layer {
            bindings = <
                &kp RALT &trans &trans &trans &trans &trans   &kp MPRV &kp VOLD &kp VOLU &kp MNXT &trans &trans
                &trans &trans &trans &trans &trans &trans   &kp LEFT &kp DOWN &kp UP &kp RIGHT &trans &trans
                &trans &trans &trans &trans &trans &trans   &kp MRWD &kp MUTE &trans &kp MFFD &trans &trans
                    &trans &trans &trans   &trans &kp MPLY &trans
            >;
        };
    };
};
